* {
    margin: 0;
    padding: 0;
}

#site_header {
    color: maroon;
    font-size: 4vmax;
    font-family: Helvetica,serif;
    font-weight: bold;
    background-color: gold;
    border-style: none;
    margin-bottom: 2vh;
    padding-top: 5px;
}


#top_menu {
    display: block;
    text-align: center;
}

#major_name_box {
    width: 80%;
    height: 45px;
    text-after-overflow: ellipsis;
}

#major_name_box::placeholder {
    font-size: 15px;
}

#major_name_box_submit {
    height: 45px
}

html, body {
    min-height: 100vh;
}


/*this is for desktop-specific settings*/
@media only screen and (min-width: 600px) {

    #site_header {font-size: 3vmax; padding-top: 0px}

    #top_menu {text-align: left; margin-left: 1vw; margin-right: 1vw; height: 10vh}
    #top_left_buttons {position: absolute; display: inline-block; width: 50%}
    #top_right_buttons {position: absolute; display: inline-block; left: 50%; width: 50%}

    #major_name_box {width: 80%; height: 20px}
    #major_name_box_submit {height: 25px}
    #reset_button {position: relative; top: 10px; height: 25px; width: 100px}

    #move_form {position: relative;}
    #move_label {font-size: 16px; font-family: Helvetica;}
    #course_selection {width: 30%; height: 24px;}
    #to_label {font-size: 16px; font-family: Helvetica;}
    #term_selection {width: 30%; height: 24px;}
    #move_term_submit {height: 25px}

    #remove_form {position: relative; top: 10px}
    #remove_label {font-size: 16px; font-family: Helvetica}
    #remove_selection {width: 30%; height: 24px}
    #remove_submit {height: 25px}


    #svg_container {width: 70vw; margin-left: 1vw;}
    #major_map_svg {position: relative; width: 70vw; height: 50vw; top: 0; border-color: maroon; border-style: solid; border-width: 4px}

}