<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/test.css">
    <title>Major Map</title>
</head>

<body>

<div>
    <header id="site_header">
        ASU Major Mapping
    </header>
</div>
<div id="top_menu">

    <script src="../static/svg_stuff.js"></script>
    <script>
        var svg_data = "";

        function waitForElementToDisplay(selector, callback, checkFrequencyInMs, timeoutInMs) {
          var startTimeInMs = Date.now();
          (function loopSearch() {
            if (document.getElementById(selector) != null) {
              callback();
              return;
            }
            else {
              setTimeout(function () {
                if (timeoutInMs && Date.now() - startTimeInMs > timeoutInMs)
                  return;
                loopSearch();
              }, checkFrequencyInMs);
            }
          })();
        }

        function major_name() {
            const formData = document.getElementById("major_name_box").value;
            const xhttp = new XMLHttpRequest();
            document.getElementById('svg_container').innerHTML = '<p>Loading...</p>';
            xhttp.onload = function () {
                if (this.responseText === "reset svg") {
                    resetSvgStuff();
                } else {
                    document.getElementById('svg_container').innerHTML = this.responseText;
                    if (this.responseText.substring(0, 4) === "<svg") {
                        svg_data = this.responseText;
                    }
                }
            };
            xhttp.open("POST", "/test");
            xhttp.setRequestHeader('data', formData);
            xhttp.send();
            waitForElementToDisplay("major_map_svg", function() {
                console.log(document.getElementById('major_map_svg'));
                foo();
                add_courses_terms_to_dropdown();
                downloadable();
            }, 200, 1000000);
        }

        function resetSvgStuff() {
            document.getElementById('svg_container').innerHTML = svg_data;
            foo();
        }

        function add_courses_terms_to_dropdown() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                var c_select = document.getElementById("course_selection");
                c_select.innerHTML = '';
                c_select.innerHTML = '<option value="" disabled selected>Course name</option>';
                var remove_c_select = document.getElementById("remove_selection");
                remove_c_select.innerHTML = '';
                remove_c_select.innerHTML = '<option value="" disabled selected>Course name</option>';
                var t_select = document.getElementById("term_selection");
                t_select.innerHTML = '';
                t_select.innerHTML = '<option value="" disabled selected>Term</option>';
                var courses_terms = this.responseText.split("-----");
                var courses = courses_terms[0].split("#####");
                var new_courses = [];
                var temp_courses = [];
                for (var j=0; j<courses.length; j++) {
                    if (temp_courses.includes(courses[j])) {
                        var count = temp_courses.filter(x => x == courses[j]).length;
                        count++;
                        new_courses.push((courses[j] + " " + count.toString()));
                        temp_courses.push(courses[j]);
                    } else {
                        if (courses.filter(x => x == courses[j]).length > 1) {
                            new_courses.push((courses[j] + " 1"));
                            temp_courses.push(courses[j]);
                        } else {
                            new_courses.push(courses[j]);
                            temp_courses.push(courses[j]);
                        }
                    }
                }
                var terms = courses_terms[1].split('$$$$$');
                for (var i=0; i<new_courses.length; i++) {
                    if (new_courses[0].length < 1) {
                        return;
                    }
                    var opt = document.createElement('option');
                    opt.value = new_courses[i];
                    opt.innerHTML = new_courses[i]
                    var opt2 = document.createElement('option');
                    opt2.value = new_courses[i];
                    opt2.innerHTML = new_courses[i]
                    c_select.append(opt);
                    remove_c_select.append(opt2);
                }
                for (var x=0; x<terms.length; x++) {
                    var t_opt = document.createElement('option');
                    t_opt.value = terms[x];
                    t_opt.innerHTML = terms[x];
                    t_select.append(t_opt);
                }
            }
            xhttp.open('POST', '/move_data');
            xhttp.send();
        }

        function move_course() {
            const course = document.getElementById("course_selection").value;
            const term = document.getElementById("term_selection").value;
            const xhttp = new XMLHttpRequest();
            {#document.getElementById('svg_container').innerHTML = '';#}
            xhttp.onload = function () {
                if (this.responseText === "reset svg") {
                    resetSvgStuff();
                } else {
                    document.getElementById('svg_container').innerHTML = this.responseText;
                    if (this.responseText.substring(0, 4) === "<svg") {
                        svg_data = this.responseText;
                    }
                    foo();
                    downloadable()
                }
            }
            xhttp.open('POST', '/move');
            xhttp.setRequestHeader('course', course);
            xhttp.setRequestHeader('term', term);
            xhttp.send();
        }

        function remove_course() {
            const course = document.getElementById('remove_selection').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                if (this.responseText === "reset svg") {
                    resetSvgStuff();
                } else {
                    document.getElementById('svg_container').innerHTML = this.responseText;
                    if (this.responseText.substring(0, 4) === "<svg") {
                        svg_data = this.responseText;
                    }
                    foo();
                    downloadable()
                }
            }
            xhttp.open('POST', '/remove');
            xhttp.setRequestHeader('course', course);
            xhttp.send();
        }

        function downloadable() {
            //get svg element.
            var link = document.createElement("a");

            var source = document.getElementById("svg_container").innerHTML;
            source = "<div>" + source + "</div>";
            var svgBlob = new Blob([source], {type:"image/svg+xml;charset=utf-8"});
            var url = URL.createObjectURL(svgBlob);
            link.href = url;
            link.id = "link";
            link.download = "major_map.svg";
            link.style.fontSize = "16px";
            link.style.fontFamily = "Helvetica";
            link.style.position = "relative";
            link.style.bottom = "5px";
            link.innerHTML = "Click to download major map";
            {#var newSource = document.getElementById("svg_container").innerHTML;#}
            document.getElementById("svg_container").prepend(link);

            console.log(url);
        }

    </script>

    <div id="top_left_buttons">
        <form id='major_name_form' method="post">
            <label for="major_name_box"></label>
            <input type="text" id="major_name_box" name="major_name_box"
                   placeholder="Link to (or precise name of) major map" required>
            <input type="reset" id="major_name_box_submit" onclick="major_name();" value="Add">
        </form>
        <button id="reset_button" type="button" onclick="resetSvgStuff()">Reset</button>
    </div>
    <div id="top_right_buttons">
        <form id="move_form" method="post">
            <label for="course_selection" id="move_label">Move </label>
            <select id="course_selection">
                <option value="" disabled selected>Course name</option>
            </select>
            <label for="term_selection" id="to_label">to</label>
            <select id="term_selection">
                <option value="" disabled selected>Term</option>
            </select>
            <input type="reset" type="button" id="move_term_submit" onclick="move_course();" value="Submit">
        </form>

        <form id="remove_form" method="post">
            <label for="remove_selection" id="remove_label">Remove </label>
            <select id="remove_selection">
                <option value="" disabled selected>Course name</option>
            </select>
            <input type="reset" type="button" id="remove_submit" onclick="remove_course();" value="Submit">
        </form>


    </div>


</div>

<div id="svg_container">
</div>


</body>
</html>